@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00ffff;
  --secondary-color: #ff5757;
  --bg-color: #1c1d1c;
  --logo-gradient-color: #00ffff, white;
  --initial-text-color: #ffffff;
}

::selection {
  background-color: #00ffff;
  color: black;
}

::-webkit-scrollbar {
  width: 0px;
}

body {
  background: var(--bg-color);
  color: var(--initial-text-color);
  user-select: none;
}

.logo {
  background: linear-gradient(to bottom, var(--logo-gradient-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 640px) {
  section {
    display: grid;
    height: calc(100vh - 88px);
  }
}

@media (max-width: 639px) {
  section {
    display: grid;
    gap: 1rem;
  }
}

.bounce:hover {
  display: inline-block;
  animation: bounce 0.8s ease-out;
}

@keyframes bounce {
  0%,
  40%,
  100% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3, 0.7);
  }
  65% {
    transform: scale(0.95, 1.15);
  }
}

.nav-open {
  animation: open 0.3s ease-out;
}

@keyframes open {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.nav-close {
  animation: close 0.3s ease-out;
}

@keyframes close {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
